{% extends "base.html" %}

{% block content %}
<h1>{{ crudAction }} device</h1>
<form action="" method="post">
  {{ form.hidden_tag() }}

  <table>
    <tr>
      <th>{{ form.devicename.label }}</th>
      <th>{{ form.devicename(size=32) }}</th>
      <th>
        {% for error in form.devicename.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </th>
    </tr>
    <tr>
      <th>{{ form.devicetype.label }}</th>
      <th>{{ form.devicetype(size=32) }}</th>
      <th>
        {% for error in form.devicetype.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </th>
    </tr>
    <tr>
      <th>{{ form.description.label }}</th>
      <th>{{ form.description(size=32) }}</th>
    </tr>

  </table>
  <p>{{ form.submit() }}</p>
</form>
{% endblock %}