{% extends "base.html" %}

{% block content %}
<h1> Endpoints:</h1>
<table>
  <tr>
    <th>Show all devices (json):</th>
    <th><a href='/device/all'>link</a></th>
  </tr>
  <tr>
    <th>Show all users (json):</th>
    <th><a href='/users'>link</a></th>
  </tr>
  <tr>
    <th>Show logs (json):</th>
    <th><a href='/logs'>link</a></th>
  </tr>
</table>

<h1> Modify database:</h1>
<table>
  <tr>
    <th>Create new user:</th>
    <th><a href='/test/user/new'>link</a></th>
  </tr>
  <tr>
    <th>Create new device:</th>
    <th><a href='/test/device/new'>link</a></th>
  </tr>
  <tr>
    <th>Create new log entry:</th>
    <th><a href='/test/log/new'>link</a></th>
  </tr>
</table>
{% endblock %}