{% extends "base.html" %}

{% block content %}
<h1>{{ crudAction }} device</h1>
<form action="" method="post">
  {{ form.hidden_tag() }}

  <table>
    <tr>
      <th>{{ form.userid.label }}</th>
      <th>{{ form.userid(size=32) }}</th>
      <th>
        {% for error in form.userid.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </th>
    </tr>
    <tr>
      <th>{{ form.deviceid.label }}</th>
      <th>{{ form.deviceid(size=32) }}</th>
      <th>
        {% for error in form.deviceid.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </th>
    </tr>
    <tr>
      <th>{{ form.action.label }}</th>
      <th>{{ form.action(size=32) }}</th>
    </tr>
    <tr>
      <th>{{ form.log_level.label }}</th>
      <th>{{ form.log_level(size=32) }}</th>
    </tr>


  </table>
  <p>{{ form.submit() }}</p>
</form>
{% endblock %}